button {
	transition: background-color 0.1s ease;

	background-color: #222;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	&:hover {
		background-color: #333;
	}
	&.highlight {
		background-color: #007bff;
		color: white;
		&:hover {
			background-color: #0056b3;
		}
	}
	&:disabled {
		background-color: #555;
		color: #aaa;
		cursor: not-allowed;
	}
}

input {
	background-color: #222;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

