button {
	transition: background-color 0.1s ease;

	background-color: #222;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	&:hover {
		background-color: #333;
	}
}

input {
	background-color: #222;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

